/*ESTILOS GENERALES - TAGS*/
*, html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-image: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/bembos/images/bembos20/bg-page.png);
    height: 100%;
}
.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*HEADER COMPONENT*/

header{
    height: 150px;
    width: 100wv;
    background-color: #22378b;
}

.header-top {
    height: 25px;
    background-color: #173083;
    color: #fff;
}
#datos_posicion_tiempo span{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    color: white;
    font-size: 10px;
    padding-left: 20px;
}

.navbar{
    background: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/images/points_header.png) #22378b;
}
.nav-user {
    height: 40px;
    background-color: #ffb500;
}

.btn-users{
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   font-weight: 100;
   font-size: 14px;
   color:#26419a;
   list-style: none;
   padding-top:5px ;
}
.btn-users>li{
    padding: 4px 10px 4px 10px;
    width: auto;
}
.btn-users>li:hover{
    color: white;
    background-color: #22378b;
    display: inline-table;
    width: auto;
    border-radius: 5px;
}

#user-name-bembos{
    line-height: 40px;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: #22378b;
    padding-right:30px ;
}
#user-name-bembos::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f007";
}


/*MAIN AREA*/
.container_bgleft_header {
    background: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/bembos/images/bg_header_top_left.png) no-repeat;
    left: 0;
    position: absolute;
    z-index: -1;
    height: 195px;
}
.container_bgright_header {
    background: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/bembos/images/bg_header_top_right.png) no-repeat;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 308px;
    height: 195px;
}
.container_bgleft_body {
    background: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/bembos/images/bembos20/bg_body_left.png) no-repeat left center;
    position: fixed;
    left: 0;
    bottom: 0px;
    z-index: -1;
    width: 100%;
    height: 363px;
}

/*FOOTER COMPONENT*/

.footer {
    width: 100%;
    height: 70px;
    line-height: 65px;
    background-color: #22378b;
  }

.footer_content {
    background: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/images/bizmap_footer.png) no-repeat right bottom, url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/images/points_footer.png) 0px bottom no-repeat;
}
#pacha-credits{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    color: white;
    font-size: 10px;
}

/*COMPONENTES - BOTONES*/

.btn-general {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #22378b;
    padding: 10px;
    border-radius: 5px;
    border: none;
    height: 45px;
}
.btn-general:hover{
    background-color: #16245c;
}

#btn-nav-anterior::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f359"
}
#btn-nav-siguiente::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f35a"
}



/*COMPONENTES - STEPPER ORDER*/
.stepper-content-nav{
    margin: 20px;
    padding: 20px;
    background-color: #ffc600;
    border: 1px solid #23388b;
}

.stepper-order{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 40px;
}
.stepper-order-item{
    background-color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    display: inline-table;
    text-align: center;
    width: 40px;
    padding: 8px;
    border-radius: 50px;
    margin: 10px 5px 10px 5px ;
}

.stepper-order-item-activo{
    background-color: #ff2600;
    color: #ffffff;
}
/*CARDS INGREDIENTES*/
.card-deck{
    padding: 20px;
}
/*
.btn_comprar::after {
    background: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/images/bembos_bolso.png) no-repeat center;
        background-size: auto;
    position: absolute;
    content: "";
    width: 37px;
    height: 38px;
    top: -5px;
    right: 0;
    z-index: 9;
    background-size: 35px;
}
*/