/*ESTILOS GENERALES - TAGS*/
*, html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-image: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/bembos/images/bembos20/bg-page.png);
    height: 100%;
}
.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*HEADER COMPONENT*/

header {
 /*  height: 150px;
      background-color: #22378b;
 */
    width: 100wv;
}

.header-top {
    height: 25px;
    background-color: #173083;
    color: #fff;
}
#datos_posicion_tiempo span{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    color: white;
    font-size: 10px;
    padding-left: 20px;
}

.navbar{
    background: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/images/points_header.png) #22378b;
}
.nav-user {
    height: 40px;
    background-color: #ffb500;
}

.btn-users{
   font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   font-weight: 100;
   font-size: 14px;
   color:#26419a;
   list-style: none;
   padding-top:5px ;
}
.btn-users>li{
    padding: 4px 10px 4px 10px;
    width: auto;
}
.btn-users>li:hover{
    color: white;
    background-color: #22378b;
    display: inline-table;
    width: auto;
    border-radius: 5px;
}

#user-name-bembos{
    line-height: 40px;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    color: #22378b;
}
.container-icon-user{
    height: 50px;
}

.icon-blue{
    color: #22378b;
}
/*COCINA*/

main {
    width: 100%;
    padding: 20px;
}

.col-sm-3{
    border: 1px solid black;
    margin: 5px;    
    border-radius: 5px;
    height: 270px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.statusButtons{
    padding-bottom: 10px;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 0px;
}

.ordersTitle{
    font-family: 'Oswald', sans-serif;
    color: #22378b;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 40px;
    padding-right: 0px;
}

.card-title{
font-family: 'Oswald', sans-serif;
color: #22378b;
}

.card-title, .Sub {
    margin: 0
}
.red{
    color: red
}

#example-1{
    display: flex;
    justify-content: center;
}

.mainOrders{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botonEntregar{
    background-color: #ffb500;
    color: white;
    margin: 5px;
    width: 60%;
    height: 40px;
    border-radius: 10px;
}

.botonEntregado{
    background-color: #22378b;
    color: white;
    margin: 5px;
    width: 60%;
    height: 40px;
    border-radius: 10px;
}

.row{
    margin: 0;
}
.row orders{
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
/*MAIN AREA*/
.container_bgleft_header {
    background: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/bembos/images/bg_header_top_left.png) no-repeat;
    left: 0;
    position: absolute;
    z-index: -1;
    height: 195px;
}
.container_bgright_header {
    background: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/bembos/images/bg_header_top_right.png) no-repeat;
    right: 0;
    position: absolute;
    z-index: -1;
    width: 308px;
    height: 195px;
}
.container_bgleft_body {
    background: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/bembos/images/bembos20/bg_body_left.png) no-repeat left center;
    position: fixed;
    left: 0;
    bottom: 0px;
    z-index: -1;
    width: 100%;
    height: 363px;
}

/*FOOTER COMPONENT*/

.footer {
    width: 100%;
    height: 70px;
    line-height: 65px;
    background-color: #22378b;
  }

.footer_content {
    background: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/images/bizmap_footer.png) no-repeat right bottom, url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/images/points_footer.png) 0px bottom no-repeat;
}
#pacha-credits{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    color: white;
    font-size: 10px;
}

/*COMPONENTES - BOTONES*/

.btn-general {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff; 
    background-color: #22378b;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    height: 45px;
}
.btn-steps-nav{
    width:130px;
}

.btn-secundario {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color:#22378b;
    background-color:#ffb500;
    padding: 10px;
    border-radius: 5px;
    border: none;
    height: 45px;
}

.btn-secundario:hover{
    background-color: #ff2600;
    color: #ffffff;
}


.btn-general:hover{
    background-color: #16245c;
}

#btn-nav-anterior::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f359"
}
#btn-nav-siguiente::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f35a"
}



/*COMPONENTES - STEPPER ORDER*/
.stepper-content-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: #ffc600;
    border: 1px solid #23388b;
}
.consolidado-precio-descripcion{
    font-family: 'Roboto Slab', serif;
    font-weight: 100; 
    font-size: 0.8em;
    text-align: center;
}

.consolidado-precio-de-orden{
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    color: #173083;    
    font-size: 1.5em;
    text-align: center;
}
/*COMPONENTES - STEPPER INVOICE*/
.stepper-invoice-general{
    margin: 30px;
}

.stepper-invoice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 40px;
}

.stepper-invoice-item{
    background-color: #ffffff;
    border:1px solid #173083;
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    display: inline-table;
    text-align: center;
    width: 40px;
    padding: 8px;
    border-radius: 50px;
    margin: 10px 5px 10px 5px ;
}

.stepper-invoice-item-activo{
    background-color: #ff2600;
    color: #ffffff;
    border: none;
}
/*CARDS INGREDIENTES*/
.card-deck{
    padding: 20px;
}
.supply-card-title{
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    color: #5c5c5c;
    font-size: 18px;
}
.supply-card-precio{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    color: #5c5c5c;
    font-size: 14px;
}
.supply-item:hover{
    background-image: url(https://www.bembos.com.pe/skin/frontend/galafoodiris/default/images/points_combo.png);
    border: 1px solid #23398f;
    background-repeat: no-repeat;
    background-color: #23398f;
}
.supply-item:hover > .card-body>.supply-card-title{
    color: #ffffff;
}
.supply-item:hover > .card-body>.supply-card-precio{
    color: #ffffff;
}

/*INVOICE ELEMENT*/
.invoice-container{
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    border:solid 3px #22378b;
    background-color: #ffffff;
}
.invoice-header{
    margin-bottom:30px;
}
.invoice-title{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #22378b;
    padding-bottom: 5px;
    border-bottom: solid 2px #ffb500;
}
.invoice-detalles-top{
    border-bottom: solid 1px #23398f;
}
.invoice-descripcion{
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size: 12px;
    color: #5c5c5c;
}
.invoice-data{
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    font-size: 14px;
    color: #5c5c5c;
}
.invoice-detalles-top h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
    font-size:20px;
    color:#173083;
}
.invoice-accion-remover a{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size:12px;
}
.invoice-order-details h4{
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size:16px;
    color: #5c5c5c;
}

p{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size:14px;
    color: #5c5c5c;
}
.order-item{
    padding:20px 0 5px 0;
}

#order-supplies-list{
    padding:0 ;
}
.order-counter{
    text-align: right;
}
.order-supply{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size:14px;
    color: #5c5c5c;
    margin-left:25px;
    
}
.order-counter .count {
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    color: #173083;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    width: 50px;
}
.order-counter .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    background-color: #173083;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 'Roboto Slab', serif;
    text-align: center;
    border-radius: 50%;
    margin: 5px;
    }
.order-counter .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    background-color: #173083;
    width: 30px;
    height: 30px;
    font: 30px/1 'Roboto Slab', serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
    margin: 5px;
}

.minus:hover{
    background-color:#ff2600;
}
.plus:hover{
    background-color:#ff2600;
}
/*COSTO PEDIDO EN INVOICE*/
.invoice-order-cost{
    text-align: right;
    border-bottom: 1px solid #dddddd;
}
.order-costo-data{
    font-family: 'Roboto Slab', serif;
    font-weight: 100; 
    font-size: 0.8rem;
    text-align: center;
}

.order-costo-descripcion{
    font-family: 'Roboto Slab', serif;
    font-weight: 900; 
    font-size: 1.4rem;
    text-align: center;

}
/*INVOICE PRECIO FINAL*/
.invoice-container-precio-total{
    text-align: right;
}
.big-price-decripcion, .big-price-data{
    font-family: 'Roboto Slab', serif;
    font-weight: 900; 
    font-size: 1.4rem;
    color: #23398f;
    text-align: center;
}


#btn-nav-confirmar::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f058"
}

.btn-confirmar{
    margin: 50px 0 30px 0;
}
/*ALERTA*/
.alert{
    font-family: 'Roboto Slab', serif;
}

.ItemSeleccionado{
    text-align: center;
    padding: 10px 20px 5px 20px;
    border-radius: 0 0 10px 10px;
    margin:0 15px;
    bottom: 5px;
    background: #ff2600;
    font-family: 'Roboto Slab', serif;
    color: white;
    display: none;
}
.ItemSeleccionado::before {
    width: 0;
    height: 0;
    border-width: 10px 10px 0;
    border-style: solid;
    border-color: white transparent transparent transparent;
    margin: auto;
    content: "";
    position: absolute;
    bottom: 0px;
    padding-bottom:30px;
    left: 50%;
    margin-left: -10px;
}



.date{
    font-size: 14px;
}
